﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book N' Go</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js" type="text/javascript" language="javascript"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.print.css" rel="stylesheet" type="text/css" media="print" />
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript" language="javascript"></script>
    <link href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
     @Scripts.Render("~/Scripts/fullcalendar.js")
    @Scripts.Render("~/Scripts/jquery.datetimepicker.full.min.js")
    @Scripts.Render("~/Scripts/CustomViews/ShipEx-AgendaView.js")
    @Styles.Render("~/Content/jquery.datetimepicker.css")
    @Styles.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scheduler")
    @Styles.Render("~/Content/css")
    @RenderSection("scripts", required: false)

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'm/d/Y'
            });

            $('.datetimepicker').datetimepicker({
                step: 30,
                format: 'm/d/Y H:i'
            });

            $('.timepicker').datetimepicker({
                datepicker: false,
                format: 'H:i',
                step: 30
            });
        });

        var BASE_URL = '@Url.Content("~/")';

    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (ViewBag.InIframe == false)
                {
                    @*@Html.ActionLink("Book N' Go", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                }
            </div>
            <div class="navbar-collapse collapse">
                @if (ViewBag.InIframe == false)
                {
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        foreach (var link in ViewBag.NavItems)
                        {
                            <li>@Html.ActionLink((string)link.Text, (string)link.ActionName, (string)link.ControllerName)</li>
                        }
                    }
                </ul>
                }
            </div>
            <div class="auth-info navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
            <h1>@ViewBag.Title</h1>
        @if(!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="has-error"><div class="help-block">@ViewBag.ErrorMessage</div></div>
        }
            @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>
</body>
</html>
