﻿@model Scheduler.Models.LocationDetailsViewModel

@{
    ViewBag.Title = "Locations";
}

@section scripts {
    <script language="javascript" type="text/javascript">

        $(document).ready(function () {

            $(document).ajaxError(function (e, hr, settings, thrownError) {
                alert(thrownError + "\r\n" + hr.responseText);
            });

            $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
        });
        
        var BASE_URL = '@Url.Content("~/")';
    </script>
}

<input type="hidden" id="location-id" value="@Model.Location.ID" />

@Html.Partial("LocationDetails", Model.Location)
@if (Model.CurrentConfig != null)
{
@Html.Partial("ViewConfiguration", Model.CurrentConfig)
}
@Html.Partial("LocationConfigurations", Model.Configs)
@Html.Partial("LocationBlackouts", Model.Blackout)
@Html.Partial("LocationWhitelist", Model.Whitelist)