﻿@model IEnumerable<Scheduler.Models.LocationConfiguration>



<div>
    <h4>Configurations
        <input type="button" id="add-configuration" value="Add" />
    </h4>
    <table class="table" id="configuration-list">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>Type</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDateString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfigurationType)
                </td>
                @for (int idx = 0; idx < 7; idx++)
                {
                <td>
                    <ul>
                    @foreach (var slots in item.ScheduleItems(idx))
                    {
                        <li>@slots.TimeRangeView <span>(@slots.Slots)</span></li>
                    }
                    </ul>
                </td>
                }
                <td>
                    <a href="#" class="edit-configuration" data-id="@item.ID">Edit</a> |
                    <a href="#" class="delete-configuration" data-id="@item.ID">Delete</a>
                </td>
            </tr>
        }

    </table>
</div>

@Html.Partial("LocationConfigurationDialog")