﻿@model Scheduler.Models.Location

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TMWCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TMWCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TMWCityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TMWCityName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
