﻿<div id="create-blackoutslot-dialog" class="edit-dialog" style="display:none">
    <p>
        <label>Start Time:</label><input type="text" id="create-blackoutslot-start-time" class="datetimepicker" />
    </p> 

    <p>
        <label>End Time:</label><input type="text" id="create-blackoutslot-end-time" class="datetimepicker" />
    </p>

    <p>
        <label>Slots:</label><input type="text" id="create-blackoutslot-slots" />
    </p>

    @Html.AntiForgeryToken()
</div>

<div id="edit-blackoutslot-dialog" class="edit-dialog" style="display:none">
    <input type="hidden" id="edit-blackoutslot-id" />
    <p>
        <label>Start Time:</label><input type="text" id="edit-blackoutslot-start-time" class="datetimepicker" />
    </p>

    <p>
        <label>End Time:</label><input type="text" id="edit-blackoutslot-end-time" class="datetimepicker" />
    </p>

    <p>
        <label>Slots:</label><input type="text" id="edit-blackoutslot-slots" />
    </p>

    @Html.AntiForgeryToken()
</div>