﻿@model IEnumerable<Scheduler.Models.LocationWhitelistSlots>

<div>
    <h4>White list
        <input type="button" id="add-whitelistslot" value="Add" />
    </h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slots)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTimeString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTimeString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slots)
                </td>
                <td>
                    <a href="#" class="edit-whitelistslot" data-id="@item.ID">Edit</a> |
                    <a href="#" class="remove-whitelistslot" data-id="@item.ID">Delete</a>
                </td>
            </tr>
        }

    </table>
</div>

@Html.Partial("LocationWhitelistSlotDialog")
