﻿<div id="create-locationconfiguration-dialog" class="edit-dialog" style="display:none">
    <p>
        <label>Publish Date:</label><input type="text" id="create-locationconfiguration-publish-date" class="datepicker" tabindex="0" />
    </p>
    <p>
        <label>Type:</label>
        <select id="create-locationconfiguration-type" tabindex="1">
            <option>-- Select --</option>
            <option value="0">Unloading</option>
            <option value="1">Loading</option>
        </select>
    </p>
    <table id="create-locationconfiguration-items">
        <tr>
            <th>Day</th>
            <th>Start</th>
            <th>End</th>
            <th>Slots</th>
            <th>Duration</th>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>
                <input type="text" id="sunday-start-1" class="timepicker" /><br/>
                <input type="text" id="sunday-start-2" class="timepicker" /><br/>
                <input type="text" id="sunday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="sunday-end-1" class="timepicker" /><br />
                <input type="text" id="sunday-end-2" class="timepicker" /><br />
                <input type="text" id="sunday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="sunday-slots-1" /><br/>
                <input type="text" id="sunday-slots-2" /><br/>
                <input type="text" id="sunday-slots-3" />
            </td>
            <td>
                <input type="text" id="sunday-duration-1" /><br/>
                <input type="text" id="sunday-duration-2" /><br/>
                <input type="text" id="sunday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>
                <input type="text" id="monday-start-1" class="timepicker" /><br />
                <input type="text" id="monday-start-2" class="timepicker" /><br />
                <input type="text" id="monday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="monday-end-1" class="timepicker" /><br />
                <input type="text" id="monday-end-2" class="timepicker" /><br />
                <input type="text" id="monday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="monday-slots-1" /><br />
                <input type="text" id="monday-slots-2" /><br />
                <input type="text" id="monday-slots-3" />
            </td>
            <td>
                <input type="text" id="monday-duration-1" /><br/>
                <input type="text" id="monday-duration-2" /><br/>
                <input type="text" id="monday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>
                <input type="text" id="tuesday-start-1" class="timepicker" /><br />
                <input type="text" id="tuesday-start-2" class="timepicker" /><br />
                <input type="text" id="tuesday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="tuesday-end-1" class="timepicker" /><br />
                <input type="text" id="tuesday-end-2" class="timepicker" /><br />
                <input type="text" id="tuesday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="tuesday-slots-1" /><br />
                <input type="text" id="tuesday-slots-2" /><br />
                <input type="text" id="tuesday-slots-3" />
            </td>
            <td>
                <input type="text" id="tuesday-duration-1" /><br/>
                <input type="text" id="tuesday-duration-2" /><br/>
                <input type="text" id="tuesday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>
                <input type="text" id="wednesday-start-1" class="timepicker" /><br />
                <input type="text" id="wednesday-start-2" class="timepicker" /><br />
                <input type="text" id="wednesday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="wednesday-end-1" class="timepicker" /><br />
                <input type="text" id="wednesday-end-2" class="timepicker" /><br />
                <input type="text" id="wednesday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="wednesday-slots-1" /><br />
                <input type="text" id="wednesday-slots-2" /><br />
                <input type="text" id="wednesday-slots-3" />
            </td>
            <td>
                <input type="text" id="wednesday-duration-1" /><br/>
                <input type="text" id="wednesday-duration-2" /><br/>
                <input type="text" id="wednesday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>
                <input type="text" id="thursday-start-1" class="timepicker" /><br />
                <input type="text" id="thursday-start-2" class="timepicker" /><br />
                <input type="text" id="thursday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="thursday-end-1" class="timepicker" /><br />
                <input type="text" id="thursday-end-2" class="timepicker" /><br />
                <input type="text" id="thursday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="thursday-slots-1" /><br />
                <input type="text" id="thursday-slots-2" /><br />
                <input type="text" id="thursday-slots-3" />
            </td>
            <td>
                <input type="text" id="thursday-duration-1" /><br/>
                <input type="text" id="thursday-duration-2" /><br/>
                <input type="text" id="thursday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>
                <input type="text" id="friday-start-1" class="timepicker" /><br />
                <input type="text" id="friday-start-2" class="timepicker" /><br />
                <input type="text" id="friday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="friday-end-1" class="timepicker" /><br />
                <input type="text" id="friday-end-2" class="timepicker" /><br />
                <input type="text" id="friday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="friday-slots-1" /><br />
                <input type="text" id="friday-slots-2" /><br />
                <input type="text" id="friday-slots-3" />
            </td>
            <td>
                <input type="text" id="friday-duration-1" /><br/>
                <input type="text" id="friday-duration-2" /><br/>
                <input type="text" id="friday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>
                <input type="text" id="saturday-start-1" class="timepicker" /><br />
                <input type="text" id="saturday-start-2" class="timepicker" /><br />
                <input type="text" id="saturday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="saturday-end-1" class="timepicker" /><br />
                <input type="text" id="saturday-end-2" class="timepicker" /><br />
                <input type="text" id="saturday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="saturday-slots-1" /><br />
                <input type="text" id="saturday-slots-2" /><br />
                <input type="text" id="saturday-slots-3" />
            </td>
            <td>
                <input type="text" id="saturday-duration-1" /><br/>
                <input type="text" id="saturday-duration-2" /><br/>
                <input type="text" id="saturday-duration-3" />
            </td>
        </tr>
    </table>

    @Html.AntiForgeryToken()
</div>

<div id="edit-locationconfiguration-dialog" class="edit-dialog" style="display:none">
    <input type="hidden" id="edit-configuration-id" />
    <p>
        <label>Publish Date:</label><input type="text" id="edit-locationconfiguration-publish-date" class="datepicker" tabindex="0" />
    </p>
    <p>
        <label>Type:</label>
        <select id="edit-locationconfiguration-type" tabindex="1">
            <option>-- Select --</option>
            <option value="0">Unloading</option>
            <option value="1">Loading</option>
        </select>
    </p>
    <table id="edit-locationconfiguration-items">
        <tr>
            <th>Day</th>
            <th>Start</th>
            <th>End</th>
            <th>Slots</th>
            <th>Duration</th>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>
                <input type="hidden" id="sunday-item-id-1" />
                <input type="hidden" id="sunday-item-id-2" />
                <input type="hidden" id="sunday-item-id-3" />
                <input type="text" id="sunday-start-1" class="timepicker" /><br />
                <input type="text" id="sunday-start-2" class="timepicker" /><br />
                <input type="text" id="sunday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="sunday-end-1" class="timepicker" /><br />
                <input type="text" id="sunday-end-2" class="timepicker" /><br />
                <input type="text" id="sunday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="sunday-slots-1" /><br />
                <input type="text" id="sunday-slots-2" /><br />
                <input type="text" id="sunday-slots-3" />
            </td>
            <td>
                <input type="text" id="sunday-duration-1" /><br/>
                <input type="text" id="sunday-duration-2" /><br/>
                <input type="text" id="sunday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>
                <input type="hidden" id="monday-item-id-1" />
                <input type="hidden" id="monday-item-id-2" />
                <input type="hidden" id="monday-item-id-3" />
                <input type="text" id="monday-start-1" class="timepicker" /><br />
                <input type="text" id="monday-start-2" class="timepicker" /><br />
                <input type="text" id="monday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="monday-end-1" class="timepicker" /><br />
                <input type="text" id="monday-end-2" class="timepicker" /><br />
                <input type="text" id="monday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="monday-slots-1" /><br />
                <input type="text" id="monday-slots-2" /><br />
                <input type="text" id="monday-slots-3" />
            </td>
            <td>
                <input type="text" id="monday-duration-1" /><br/>
                <input type="text" id="monday-duration-2" /><br/>
                <input type="text" id="monday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>
                <input type="hidden" id="tuesday-item-id-1" />
                <input type="hidden" id="tuesday-item-id-2" />
                <input type="hidden" id="tuesday-item-id-3" />
                <input type="text" id="tuesday-start-1" class="timepicker" /><br />
                <input type="text" id="tuesday-start-2" class="timepicker" /><br />
                <input type="text" id="tuesday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="tuesday-end-1" class="timepicker" /><br />
                <input type="text" id="tuesday-end-2" class="timepicker" /><br />
                <input type="text" id="tuesday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="tuesday-slots-1" /><br />
                <input type="text" id="tuesday-slots-2" /><br />
                <input type="text" id="tuesday-slots-3" />
            </td>
            <td>
                <input type="text" id="tuesday-duration-1" /><br/>
                <input type="text" id="tuesday-duration-2" /><br/>
                <input type="text" id="tuesday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>
                <input type="hidden" id="wednesday-item-id-1" />
                <input type="hidden" id="wednesday-item-id-2" />
                <input type="hidden" id="wednesday-item-id-3" />
                <input type="text" id="wednesday-start-1" class="timepicker" /><br />
                <input type="text" id="wednesday-start-2" class="timepicker" /><br />
                <input type="text" id="wednesday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="wednesday-end-1" class="timepicker" /><br />
                <input type="text" id="wednesday-end-2" class="timepicker" /><br />
                <input type="text" id="wednesday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="wednesday-slots-1" /><br />
                <input type="text" id="wednesday-slots-2" /><br />
                <input type="text" id="wednesday-slots-3" />
            </td>
            <td>
                <input type="text" id="wednesday-duration-1" /><br/>
                <input type="text" id="wednesday-duration-2" /><br/>
                <input type="text" id="wednesday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>
                <input type="hidden" id="thursday-item-id-1" />
                <input type="hidden" id="thursday-item-id-2" />
                <input type="hidden" id="thursday-item-id-3" />
                <input type="text" id="thursday-start-1" class="timepicker" /><br />
                <input type="text" id="thursday-start-2" class="timepicker" /><br />
                <input type="text" id="thursday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="thursday-end-1" class="timepicker" /><br />
                <input type="text" id="thursday-end-2" class="timepicker" /><br />
                <input type="text" id="thursday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="thursday-slots-1" /><br />
                <input type="text" id="thursday-slots-2" /><br />
                <input type="text" id="thursday-slots-3" />
            </td>
            <td>
                <input type="text" id="thursday-duration-1" /><br/>
                <input type="text" id="thursday-duration-2" /><br/>
                <input type="text" id="thursday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>
                <input type="hidden" id="friday-item-id-1" />
                <input type="hidden" id="friday-item-id-2" />
                <input type="hidden" id="friday-item-id-3" />
                <input type="text" id="friday-start-1" class="timepicker" /><br />
                <input type="text" id="friday-start-2" class="timepicker" /><br />
                <input type="text" id="friday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="friday-end-1" class="timepicker" /><br />
                <input type="text" id="friday-end-2" class="timepicker" /><br />
                <input type="text" id="friday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="friday-slots-1" /><br />
                <input type="text" id="friday-slots-2" /><br />
                <input type="text" id="friday-slots-3" />
            </td>
            <td>
                <input type="text" id="friday-duration-1" /><br/>
                <input type="text" id="friday-duration-2" /><br/>
                <input type="text" id="friday-duration-3" />
            </td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>
                <input type="hidden" id="saturday-item-id-1" />
                <input type="hidden" id="saturday-item-id-2" />
                <input type="hidden" id="saturday-item-id-3" />
                <input type="text" id="saturday-start-1" class="timepicker" /><br />
                <input type="text" id="saturday-start-2" class="timepicker" /><br />
                <input type="text" id="saturday-start-3" class="timepicker" />
            </td>
            <td>
                <input type="text" id="saturday-end-1" class="timepicker" /><br />
                <input type="text" id="saturday-end-2" class="timepicker" /><br />
                <input type="text" id="saturday-end-3" class="timepicker" />
            </td>
            <td class="edit-slots">
                <input type="text" id="saturday-slots-1" /><br />
                <input type="text" id="saturday-slots-2" /><br />
                <input type="text" id="saturday-slots-3" />
            </td>
            <td>
                <input type="text" id="saturday-duration-1" /><br/>
                <input type="text" id="saturday-duration-2" /><br/>
                <input type="text" id="saturday-duration-3" />
            </td>
        </tr>
    </table>

    @Html.AntiForgeryToken()
</div>