﻿<div id="create-whitelistslot-dialog" class="edit-dialog" style="display:none">
    <p>
        <label>Start Time:</label><input type="text" id="create-whitelistslot-start-time" class="datetimepicker" />
    </p> 

    <p>
        <label>End Time:</label><input type="text" id="create-whitelistslot-end-time" class="datetimepicker" />
    </p>

    <p>
        <label>Slots:</label><input type="text" id="create-whitelistslot-slots" />
    </p>

    @Html.AntiForgeryToken()
</div>

<div id="edit-whitelistslot-dialog" class="edit-dialog" style="display:none">
    <input type="hidden" id="edit-whitelistslot-id" />
    <p>
        <label>Start Time:</label><input type="text" id="edit-whitelistslot-start-time" class="datetimepicker" />
    </p>

    <p>
        <label>End Time:</label><input type="text" id="edit-whitelistslot-end-time" class="datetimepicker" />
    </p>

    <p>
        <label>Slots:</label><input type="text" id="edit-whitelistslot-slots" />
    </p>

    @Html.AntiForgeryToken()
</div>