﻿@model Scheduler.Models.LocationConfiguration

<div>
    <h4>Current Configuration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfigurationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfigurationType)
        </dd>
    </dl>
</div>
