﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges
*/
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ui-dialog
{
    z-index:2000;
}

.edit-dialog label
{
    width: 100px;
    float: left;
}
#create-locationconfiguration-publish-date,
#edit-locationconfiguration-publish-date
{
    width:160px;
}

#create-locationconfiguration-items input,
#edit-locationconfiguration-items input
{
    width: 50px;
}

#create-locationconfiguration-items th,
#edit-locationconfiguration-items th
{
    text-align:center
}

#create-locationconfiguration-items td,
#edit-locationconfiguration-items td
{
    padding: 5px;
    vertical-align:top;
}

#configuration-list ul
{
    padding: 0px;
}
#configuration-list li
{
    list-style:none;
}
.navbar-collapse
{
    float:left;
}
.auth-info {
    float:right;
}
.fc-title {
    word-wrap:break-word;
    font-size:0.75em;
}
.fc-time {
    font-size:0.64em !important;
}

#schedule-filter .location-list,
#schedule-filter .type-list,
#schedule-filter .order-number-search,
#schedule-filter .search-submit,
#schedule-filter .search-type
{
    float:left;
    padding-left:10px;
}

#schedule-filter .order-number-search input
{
    width:inherit;
    height:33px;
}

#schedule-filter .search-submit input
{
    height:33px;
    margin-top:4px;
}

#stops
{
    padding: 0px;
    margin-top: 1px;
}

#stops li
{
    list-style: none;
}

.no-show
{
    display:none;
}

p.small {
    font-size: small;
    padding: 0px;
    margin: 0px;
}

.tight label,
.tight div {
    float: left;
    margin-right: 5px;
}

.form-group {
    clear: both;
}

.small-input {
    line-height:normal;
    float:right;
    width: 120px;
}

#calendar .fc-toolbar .fc-left {
    background-image: url(./calendar-small.png);
    background-repeat: no-repeat;
    background-position: 175px 2px;
    width: 250px;
}

select.search-type {
    width:unset;
    height: 26px;
    margin-right: 5px;
}

td.details-control {
    background-image: url(/Content/details_open.png);
    background-repeat: no-repeat;
    cursor:pointer;
    background-position: 25px 8px;
}

#report-data tr.alt-row {background: #CCC;}
#report-data tr.consolidated-first {font-weight: bold;}

#eventDialog #eventDialog-top div.form-group {
    float:left;
    clear:none;
    margin-right:5px;
}

#eventDialog #eventDialog-top {
    clear:both;
}

div.form-group div.label-wrapper,
div.form-group div#recurring-checkbox {
    float:left;
    margin-right: 5px;
}

fieldset#recurring-settings {
    padding: 5px;
    border: solid 1px #e5e5e5;
}

fieldset#recurring-settings legend {
    font-size: 14px;
    font-weight: bold;
    border-bottom: none;
    margin-bottom: 0px;
    width: initial;
}

fieldset#recurring-settings div.form-group .form-control {
    height:unset;
    width:unset;
}

fieldset#recurring-settings div.form-group {
    float:left;
    clear:none;
    margin-right: 5px;
}
fieldset#recurring-settings {
    clear:both;
}

.terms-agreement > div {
    margin-bottom:20px;
}

.terms-agreement > ol {
    list-style:upper-roman;
}

.terms-agreement > ol > li {
    margin-bottom:20px;
}

.terms-agreement > ol > li > ol {
    list-style:upper-alpha
}