﻿@model IEnumerable<Scheduler.Models.TMW.CarrierPayScheduleReport>

@{
    ViewBag.Title = "Carrier Pay Schedule";
}

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('.report-data').DataTable();
        });
    </script>
}

<form method="get">
    <div class="form-group">
        <label class="control-label">Order #</label>
        <input type="text" name="order_number" class="form-contol" />
        <input type="submit" value="Submit" class="btn btn-default" />
        @if(ViewBag.InIframe)
        {
            <input type="hidden" value="1" name="iframe" />
        }
    </div>
</form>
<div id="report-data">
    @if (Model == null)
    {
        <h3>No report criteria</h3>
    }
    @if (Model.Count() == 0)
    {
        <h3>No results</h3>
    }
    @if (Model != null && Model.Count() > 0)
    {
        <table class="dataTable">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Invoice Number</th>
                    <th>Bill To</th>
                    <th>RevType1</th>
                    <th>Invoice Created Date</th>
                    <th>35 Days After Invoice Crated Date</th>
                    <th>Print Date</th>
                    <th>Child Order</th>
                    <th>PayTo ID</th>
                    <th>PayTo Name</th>
                    <th>Carrier</th>
                    <th>Carrier Name</th>
                    <th>Pay Description</th>
                    <th>Pay Amount</th>
                    <th>Pay Status</th>
                    <th>Pay Period</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.OrderNumber</td>
                    <td>@item.InvoiceNumber</td>
                    <td>@item.BillTo</td>
                    <td>@item.RevType1</td>
                    <td>@item.InvoiceCreatedDate</td>
                    <td>@item.DaysAfterInvoiceCreated</td>
                    <td>@item.PrintDate</td>
                    <td>@item.ChildOrder</td>
                    <td>@item.PayToID</td>
                    <td>@item.PayToName</td>
                    <td>@item.Carrier</td>
                    <td>@item.PayDescription</td>
                    <td>@item.PayAmount</td>
                    <td>@item.PayStatus</td>
                    <td>@item.PayPeriod</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
