﻿@model IEnumerable<Scheduler.Models.TMW.MileageReport>
@{
    ViewBag.Title = "DriverMileage";
}

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('.report-data').DataTable();
        });
    </script>
}

<form method="get">
    <div class="form-group">
        <label class="control-label">Start Date: </label>
        <input type="text" class="datepicker" name="start" value="@Request["start"]" />
        &nbsp;
        <label class="control-label">End Date: </label>
        <input type="text" class="datepicker" name="end" value="@Request["end"]" />
        &nbsp;
        <input type="submit" value="Submit" class="btn btn-default" />
        @if (ViewBag.InIframe)
        {
            <input type="hidden" value="1" name="iframe" />
        }
    </div>
</form>

<div id="report-data">
@if (Model == null)
{
    <h3>No report criteria</h3>
}
@if (Model != null && Model.Count() == 0)
{
    <h3>No results</h3>
}
@if (Model != null && Model.Count() > 0)
{
    <table class="dataTable">
        <thead>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Truck</th>
                <th>Division</th>
                <th>MPG</th>
                <th>IDLE PCT</th>
                <th>Empty Miles</th>
                <th>Loaded Miles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Year</td>
                    <td>@item.Month</td>
                    <td>@item.TruckName</td>
                    <td>@item.Division</td>
                    <td>@item.MPG</td>
                    <td>@item.IDLEPCT</td>
                    <td>@item.EmptyMiles</td>
                    <td>@item.LoadedMiles</td>
                </tr>
            }
        </tbody>
    </table>
}
</div>