﻿@model IEnumerable<Scheduler.Models.TMW.LoadStatusReport>

@{
    ViewBag.Title = "Load Status";
}

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('.report-data').DataTable();
        });
    </script>
}

<form method="get">
    <div class="form-group">
        <label class="control-label">PO Number:</label>
        <textarea name="search"></textarea>
        <input type="submit" value="Submit" class="btn btn-default" />
        @if(ViewBag.InIframe)
        {
            <input type="hidden" value="1" name="iframe" />
        }
    </div>
</form>
<div id="report-data">
    @if (Model == null)
    {
        <h3>No report criteria</h3>
    }
    @if (Model.Count() == 0)
    {
        <h3>No results</h3>
    }
    @if (Model != null && Model.Count() > 0)
    {
        <table class="dataTable">
            <thead>
                <tr>
                    <th>PO Number</th>
                    <th>Truck</th>
                    <th>Trailer</th>
                    <th>Status</th>
                    <th>Location</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Reefer Temp</th>
                    <th>LHF</th>
                    <th>Lumper</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.PONumber</td>
                    <td>@item.TruckDisplay</td>
                    <td>@item.TrailerDisplay</td>
                    <td>@item.StatusDisplay</td>
                    <td>@item.Location</td>
                    <td>@item.Origin</td>
                    <td>@item.Destination</td>
                    <td>@item.MaxTempDisplay</td>
                    <td>@String.Format("{0:C}", item.LHF)</td>
                    <td>@String.Format("{0:C}", item.Lumper)</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
