﻿@model Scheduler.Models.ViewModels.LocationScheduleForm

@{
    ViewBag.Title = "Location Schedule";
}

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('.report-data table-disabled').DataTable({
            });

            function format_child(child_order) {
                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                    '<tr>' +
                        '<td>Full name:</td>' +
                        '<td>' + d.name + '</td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td>Extension number:</td>' +
                        '<td>' + d.extn + '</td>' +
                    '</tr>' +
                    '<tr>' +
                        '<td>Extra info:</td>' +
                        '<td>And any further details here (images etc)...</td>' +
                    '</tr>' +
                '</table>';
            }

            $('#report-data tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr').next('tr');
                tr.toggle();
            });
        });
    </script>
}

<form method="get">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.End, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control datepicker" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("City", null, "--- select one --", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status", null, "--- select one ---", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AppointmentType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AppointmentType", null, "--- select one ---", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
                <input type="submit" value="Export" name="export" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div id="report-data">
    @if(ViewBag.ReportData == null)
    {
        <h3>No report criteria</h3>
    }
    @if(ViewBag.ReportData != null && ViewBag.ReportData.Count == 0)
    {
        <h3>No results</h3>
    }
    @if(ViewBag.ReportData != null && ViewBag.ReportData.Count > 0)
    {
        <table class="dataTable">
            <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Order Number</th>
                <th>STO Number</th>
                <th>Carrier</th>
                <th>Status</th>
                <th>Appointment Type</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Order Number</th>
                <th>STO Number</th>
                <th>Carrier</th>
                <th>Status</th>
                <th>Appointment Type</th>
            </tr>
            </tfoot>
            <tbody>
                @{ 
                    var outrow = 0;
                }
        @for(var i = 0;i < ViewBag.ReportData.Count; i++)
        {
            var item = ViewBag.ReportData[i];
            var do_output = item.ConsolidatedSubOrder == false;
            var do_bold = item.ConsolidatedFirstOrder == true;
            if (item.ConsolidatedFirstOrder || !item.ConsolidatedSubOrder)
            {
                outrow++;
            }
            <tr class='@((outrow%2==0)?"":"alt-row") @(do_bold?"consolidated-first":"")'>
                <td class='@(item.HasChildOrders?"details-control":"")'></td>
                <td>@(do_output?item.Date.ToString("MM/dd/yyyy HH:mm"):"")</td>
                <td>@Html.ActionLink((String)item.OrderNumber, "Order", "Calendar", new { t="ord", order = item.OrderNumber }, null)</td>
                <td>@item.STONumber</td>
                <td>@(do_output?item.Carrier:"")</td>
                <td>@(do_output?item.Status:"")</td>
                <td>@(do_output?item.AppointmentType:"")</td>
            </tr>
            if(item.HasChildOrders)
            {
                <tr class="child-order" style="display:none">
                    <td colspan="7">
                        <table style="margin-left:20px" class="dataTable">
                            <tr>
                                <th>Order Number</th>
                                <th>STO Number</th>
                                <th>Carrier</th>
                                <th>Status</th>
                                <th>Appointment Type</th>
                            </tr>
                            @foreach(var child in item.ChildOrders)
                            {
                            <tr>
                                <td>@child.SubOrderNumber</td>
                                <td>@child.SubSTONumber</td>
                                <td>@child.SubCarrier</td>
                                <td>@child.SubStatus</td>
                                <td>@child.SubAppointmentType</td>
                            </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        }
            </tbody>
        </table>
    }
</div>
