﻿
@{
    ViewBag.Title = "About this Agreement";
}
<div class="terms-agreement">
    <div>
        By accessing and using the ShipEX website ("Site") you indicate your acknowledgment and agreement to be bound by these Terms of Use ("Terms")and any subsequently posted modifications to these Terms.
    </div>
    <div>
        These Terms govern your use of the Site and all services provided in connection with the Site, including but not limited to any services provided by our partners, affiliates and advertisers.
    </div>
    <div>
        These Terms are subject to the separately posted Copyright &amp; Legal Notices. In the event of any inconsistency between these Terms and the Copyright &amp; Legal Notices, the Copyright &amp; Legal Notices will control.
    </div>
    <div>
        As used in these Terms, where references to ShipEX which are indicative of shorthand for the entities that own and operate this Site, ShipEX shall mean ShipEX, LLC. Similarly, the phrases such as "we" or "us" or "our" refer to ShipEX .
    </div>
    <ol>
        <li>
            Authorized Users Defined. There are four levels of Authorized Users, each with different degrees of access to the Site. The names and basic descriptions of these Authorized Users are:
            <ol>
                <li>Broker. A "Broker" includes only those benefits industry specialists (such as brokers, agents, general agents, or TPAs) who have been authorized by ShipEX to receive a Broker-level User Name and Password for use of the Site pursuant to a separate License Fee Agreement. Brokers are generally in the business of selling products (such as group health, dental, life, or disability insurance) to an employer. Broker accounts must be obtained directly from ShipEX .</li>
                <li>Administrator. An "Administrator" includes only those organizations that have been authorized by ShipEX or a Broker to receive an Administrator-level User Name and Password for use the Site. Administrators are generally employers sponsoring a group benefit plan for their employees. Administrator privileges generally include the capacity to create and manage accounts for Individual Authorized Users who are the Administrator's employees or members. Administrator accounts may be obtained from any Broker with participation costs determined by each Broker.</li>
                <li>Individuals. An "Individual" includes only those persons who have been authorized by ShipEX , a Broker, or an Administrator to receive an Individual-level User Name and Password for use the Site. These Individuals are generally employees of an Administrator or Broker. Contact your employer to determine if the Site is available through your company.</li>
                <li>Guest. A Guest is a person who has requested and received temporary access to a User Name and Password supplied by ShipEX , to enable the Guest to evaluate the Site.</li>
            </ol>
        </li>
        <li>
            Access Requirements. Access to the Site requires: a User Name and Password; and access to a computer with a connection to the internet and the capacity to render web pages Authorized Users are solely responsible for providing all equipment necessary to access the Site.
        </li>
        <li>
            Authorized Uses.
            <ol>
                <li>
                    Authorized Users will receive a limited, non-exclusive, non-transferable, revocable, license to access the Site's password-protected features on the internet using an assigned User Name and Password (the "License").
                </li>
                <li>
                    The level of access associated with the User Name (Broker, Administrator, Individual, or Guest) will determine features of the Site to which that User Name will have access.
                    <ol>
                        <li>Individuals will have access to their own data and any other functions granted by their Broker or Administrator. As an Individual user, you understand and agree that your Broker and/or Administrator will have access to the same data that is visible to you.</li>
                        <li>Administrators will have the capacity to manage and create new accounts for Individuals who are the Administrator's employees or members or otherwise enrolled in a group benefit plan sponsored by the Administrator. Absent the prior written permission of ShipEX , Administrators may not use their access to the Site to create or manage accounts for any other person or purpose.</li>
                        <li>Brokers will have capacity to manage and create new Administrator or Individual accounts to the extent that a subject Administrator or Individual's ShipEX accounts are indexed to that Broker. Absent the prior written permission of ShipEX , Brokers may not use their access to the Site to create or manage accounts for any other person or purpose.</li>
                        <li>Guests will have only such access as ShipEX in its sole discretion deems appropriate. Guests will not have access to actual data of any other Authorized User.</li>
                    </ol>
                </li>
                <li>
                    This License may be revoked at any time. Temporary revocation may include deactivation of an account or lock down of the Authorized User's Password; permanent revocation may include deletion of all data associated with the Authorized User. Reasons for revocation may include, among others:
                    <ol>
                        <li>An Administrator may revoke an Individual's License for his violation of these Terms, violation of separately posted Copyright &amp; Legal Notices, the Individual's separation from the Administrator's group benefit plans, or the Administrator's discontinuance of company-wide use of ShipEX.</li>
                        <li>A Broker may revoke an Administrator's License for violation of these Terms, violation of separately posted Copyright &amp; Legal Notices (whether by Administrator or its employees), failure to pay any policy premiums when due, or the Administrator's discontinuance of policies serviced by Broker.</li>
                        <li>ShipEX may revoke any Broker, Administrator, or Individual License for violation of these Terms, violation of separately posted Copyright &amp; Legal Notices, for any reason that would justify a Broker's revocation of another's License, for any reason that would justify an Administrator's revocation of another's License, or for Broker's failure to pay any Hosting Service invoice when due.</li>
                    </ol>
                    <div>
                        Administrators and Individuals adversely impacted by revocation of another's License may inquire with ShipEX for placement with another Broker. Some interruption in service may occur during the transition to another Broker.
                    </div>
                </li>
            </ol>
        <li>
            User Representations.
            <div>Authorized Users make the following representations to ShipEX:</div>
            <ol>
                <li>Use of the Site shall be in a manner that is consistent with all federal, state, and local laws (including but not limited to laws concerning identity theft and privacy and security of health care related data).</li>
                <li>Use of the Site shall be in a manner that is consistent with these Terms and the separately posted Copyright &amp; Legal Notices.</li>
                <li>Authorized Users shall provide true information about their identity and shall not impersonate any other person or entity.</li>
                <li>Authorized Users shall take appropriate precautions to maintain the secrecy of their User Name and Password. You are solely responsible for all acts or omissions, committed by or occurring under your User Name and Password</li>
                <li>Authorized Users shall not use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, data mine, or in any way reproduce or circumvent the navigational structure or presentation of the Site.</li>
                <li>Authorized Users shall not decompile, reverse engineer, disassemble or unlawfully use or reproduce any of the software, source code, object code, proprietary formulations, trade secrets, Copyrighted material, or other proprietary information contained in the Site.</li>
                <li>Authorized Users shall not interfere with, disrupt, penetrate, or otherwise hack ShipEX's ASP server, chat rooms, message boards, mail server, the account of any other Authorized User, or other ShipEX-related computers or networks (collectively, "Servers"). Authorized Users shall not transmit spam or any virus or other malicious computer code to or through ShipEX's Servers.</li>
            </ol>
        </li>
        <li>
            Additional Requirements About Your Information
            <div>"Your Information" is defined as any information you or your employer provides to ShipEX or other users in the registration, in any public message area, through any upload feature, or through any e-mail feature.</div>
            <ol>
                <li>You are solely responsible for Your Information. You agree that: (i) Your Information shall not be false, inaccurate or misleading; (ii) Your Information shall not violate the rights of any third party, including without limitation privacy and proprietary rights; (iii) Your Information shall not infringe any copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy; (iv) Your Information shall not be fraudulent or involve counterfeit or stolen items; (v) Your Information shall not violate any law, statute, ordinance or regulation (including without limitation those governing consumer protection, unfair competition, antidiscrimination, or false advertising); (vi) Your Information shall not be defamatory, libelous, unlawfully threatening, or unlawfully harassing; (vii) Your Information shall not contain any viruses, Trojan horses, worms, time bombs, cancelbots or other computer programming routines that are intended to damage, interfere with, intercept or expropriate any system, data or personal information; and (viii) Your Information shall not create liability for ShipEX or cause us to lose (in whole or in part) the ability to provide our services.</li>
                <li>Postings by an Authorized User on any message board or in any forum or chat room or e-mails sent to, from or through the Site will not be protected as confidential. ShipEX may use and provide information contained in any such postings, to any of its subsidiaries and affiliates for any purpose whatsoever and as deemed appropriate by ShipEX. ShipEX is under no obligation to review any messages, information, or content posted on this Site by Users and assumes no responsibility or liability relating to any such postings Notwithstanding the above, ShipEX may from time to time monitor the postings on this Site and may decline to accept and/or remove any postings that violate this Agreement.</li>
                <li>You further agree not to use the Site to send or post on message boards or any place on our Site, any message, e-mail or material that is unlawful, harassing, libelous, defamatory, abusive, harmful, vulgar, obscene, profane, sexually oriented, threatening, racially offensive, inaccurate, or otherwise objectionable material of any kind or nature or that encourages conduct that could constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national or international law or regulation, including material which is an invasion of privacy or publicity rights or which is protected by copyright, trademark, or other proprietary right, or derivative works without first obtaining permission from the owner, or encourage the use of controlled substances. ShipEX reserves the right to delete any such material from the Site. Posting content or participating in any form of discussion with the intention to commit any illegal activity is strictly prohibited. You agree not to impersonate any other person or entity, whether actual or fictitious, including impersonating an employee or consultant of ShipEX, its partners or affiliates. You further agree not to use an inappropriate member name, password, User ID or name of any kind.</li>
                <li>ShipEX does not actively monitor Your Information but reserves at all times the right to review, modify, or delete any Account as appropriate for (a) system maintenance, (b) termination or limitation of access due to violation of these Terms and the separately posted Copyright &amp; Legal Notices, or (c) as otherwise required by law.</li>
            </ol>
        </li>
        <li>
            Investment Decisions.
            <div>You alone will bear the sole responsibility of evaluating the risks and merits associated with any investment decision. Please seek the advice of licensed and/or competent individuals before making any investment or financial planning decisions. Do not rely solely on financial or retirement information found on this Site.</div>
        </li>
        <li>
            Third Party Services and Sites.
            <ol>
                <li>The Site may offer and include products and services of third-party vendors. ShipEX does not act as an agent or broker on behalf of third parties. ShipEX makes no representations on behalf of third parties, nor are we responsible for the content, statements, actions, or omissions of such third parties. Inclusion of a third-party service on the Site is not an endorsement of that service. We encourage you to review the terms of service and other agreements of such third parties when visiting their sites or using their services. In order to provide you with these services, your personal information may be collected and supplied to such third parties, but the information provided will not exceed that which is necessary for the third-party to provide the service, in accordance with the ShipEX Privacy Policy. We may, without notice, at any time change such third-party service provider(s). You agree in the event of any such change to allow ShipEX and/or any such provider(s) to transfer your personal account information from/to ShipEX and/or from/to any such provider(s).</li>
                <li>ShipEX may provide, or third parties may provide, links to other World Wide Web sites or resources from within our Site. Because we have no control over such sites and resources, you acknowledge and agree that ShipEX is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any content, advertising, products, or other materials on or available from such sites or resources. You further acknowledge and agree that ShipEX shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such site or resource.</li>
                <li>You acknowledge that we may provide certain aggregate, non-personal and non-confidential User information to third parties, including partners, affiliates and advertisers.</li>
                <li>Any dealings you have with advertisers, partners, affiliates, or other third parties, including the delivery of and the payment for goods and services, and any other terms, conditions, warranties, or representations associated with such dealings or promotions, are solely between you and such third party. ShipEX shall not be responsible or liable for any part of any such dealings.</li>
            </ol>
        </li>
        <li>
            Notice Regarding Generic Information Within.
            <ol>
                <li>Many of the benefits and human resources-related forms and materials presented on this Site are accompanied by explanatory commentary that acquaints the User with the legal and practical issues pertaining to the subject area of such forms and materials, especially as such issues relate to the forms. Users are cautioned, however, that all of the forms and commentary presented herein are for general reference only. Federal, state or local laws or individual circumstances may require amendment of the forms to meet specific situations. Some government forms may be presented in altered size, font or format and may not, therefore, meet federal or state requirements. All of the forms, checklists and commentary are intended to be used only as guides and should not be adopted without the advice of competent legal counsel.</li>
                <li>Although we will make every effort to explain the relevant law, we cannot give you legal advice on how the law applies to your facts. This Site is designed to provide accurate information with regard to the subject matter covered. The Site is presented, however, with the understanding that we are not engaged in rendering legal, accounting, or other professional service. If legal advice or other expert assistance is required, the services of a competent professional should be sought.</li>
                <li>ShipEX does not endorse and is not responsible for the accuracy or reliability of any opinion, advice or statement made on or through this Site by any party. Other than as required by law, under no circumstance will ShipEX be liable for any loss or damage caused by a User's use of or reliance upon information obtained on or through this Site. It is the responsibility of the User to evaluate the accuracy, completeness or usefulness of any information, opinion, advice or other content, product or service available on or through this Site.</li>
                <li>While every effort has been made to offer current, complete and accurate information, errors can occur. Furthermore, this Site may contain references to certain laws and regulations. Laws and regulations will change over time and should be interpreted only in light of particular circumstances.</li>
                <li>Finally, User specifically agrees that ShipEX is not responsible or liable for any threatening, defamatory, obscene, offensive or illegal content or conduct of any other party or any infringement of another's rights, including intellectual property rights. If you are dissatisfied with ShipEX, the materials available on or through ShipEX, or with any of ShipEX's terms and conditions, your sole and exclusive remedy is to discontinue using the Site.</li>
            </ol>
        </li>
        <li>
            Minors and Child On-Line Privacy Protection Act.
            <div>This Site does not direct content to Minors and does not intend to collect personal information from Minors and therefore is not subject to the Child Online Privacy Protection Act. If you allow your minor child, or a child for whom you are legal guardian to access and use this Site, you agree that you will be solely responsible for (i) the online conduct of such Minor; (ii) monitoring such Minor's access to this Site; and (iii) the consequences of any use.</div>
        </li>
        <li>
            Indemnification.
            <div>As an Authorized User, you shall indemnify, defend, and hold harmless ShipEX from and against any and all claims, liabilities, or demands (including reasonable legal fees) arising out of your breach of the foregoing representations or any other breach of these Terms.</div>
        </li>
        <li>
            Disclaimers and Limitation of Remedies.
            <div>As an Authorized User, you understand and agree as follows:</div>
            <ol>
                <li>THE SITE IS PROVIDED ON AN "AS IS" BASIS WITH NO IMPLIED WARRANTIES OF ANY KIND.</li>
                <li>IN NO EVENT WILL THE LIABILITY OF HOSTING SERVICE OR ShipEX INCLUDE ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, OR PUNITIVE DAMAGES, EVEN IF WE HAVE KNOWLEDGE OF THE POTENTIAL LOSS OR DAMAGE.</li>
                <li>COURT AWARDED DAMAGES IN FAVOR OF ANY INJURED AUTHORIZED USER SHALL NOT, IN ANY EVENT, EXCEED THE AMOUNT SUCH USER ACTUALLY PAID DURING THE TWELVE MONTH PERIOD IMMEDIATELY PRIOR TO THE INJURY, AS USER FEES OR ROYALTIES IN ORDER TO ACCESS THE SITE.</li>
                <li>THE WARRANTIES IN THIS AGREEMENT REPLACE ALL OTHER WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. ShipEX DISCLAIMS AND EXCLUDES ALL OTHER WARRANTIES.</li>
                <li>ShipEX does not actively monitor data as entered by Authorized Users into their Accounts, but reserves at all times the right to review, modify, or delete any Account as appropriate for (a) system maintenance, (b) termination or limitation of access due to violation of these Terms and the separately posted Copyright &amp; Legal Notices, or (c) as otherwise required by law.</li>
                <li>Liability, if any, relating to premiums paid or the quality or appropriateness of group benefit plans selected shall be solely the responsibility of the sponsoring employer (who may or may not also be the "Administrator" as defined herein) and the plan's broker of record (who may or may not also be the "Broker" as defined herein).</li>
                <li>Some states do not allow the exclusion of implied warranties, so the above exclusion may not apply to all Authorized Users. This Warranty gives you specific legal rights, and you may also have other rights which vary from state to state.</li>
                <li>ShipEX's failure to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision.</li>
            </ol>
        </li>
        <li>
            Dispute Resolution. In any dispute between an Authorized User and ShipEX, as an Authorized User you agree as follows:
            <ol>
                <li>The dispute will be governed by the laws and decisions of the State of Maryland without regard to its conflict of law provisions.</li>
                <li>ShipEX shall only be subject to suit in the State and/or Federal Courts serving the County of Montgomery in the State of Maryland.</li>
                <li>Authorized User consents to the jurisdiction of the State and/or Federal Courts serving the County of Montgomery in the State of Maryland.</li>
                <li>Authorized User and ShipEX hereby WAIVE THE RIGHT TO A TRIAL BY JURY (this means a judge will decide all issues of law and fact).</li>
            </ol>
        </li>
        <li>
            Refund Policy
            <ol>
                <li>No refunds or credits for Subscription Charges or other fees or payments will be provided to You if You elect to terminate Your subscription to the Service or cancel Your Account prior to the end of Your then effective Subscription Term.</li>
                <li>Following the termination or cancellation of Your subscription to the Service and/or Account, We reserve the right to delete all Your Data in the normal course of operation after 180 days of the end of your subscription effective end date. Your Data cannot be recovered after 180 days from your service end date.</li>
            </ol>
        </li>
        <li>
            Entire Agreement &amp; Future Amendment.
            <ol>
                <li>ShipEX may amend this Agreement at any time, for any reason, by notice conspicuously posted on the Site. Amendments will be effective as stated in the notice. Continued use of the Site after any Amendment becomes effective shall indicate the Authorized User's consent and agreement to the Amendment.</li>
                <li>Except as may be provided in any separate license agreement, royalty agreement, or fee per use agreement, these posted Terms, together with the Copyright &amp; Legal Notices, constitute the entire contract and agreement regarding Terms of Use for this Site.</li>
            </ol>
        </li>
    </ol>
</div>