﻿@model Scheduler.Models.UserProfileViewModel

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TMWDriverID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TMWDriverID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
